Repository mindsresearch/between_bytes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @duggann4, @Peter-Hafner, @jacobs81, @TREVORLE123

.github/CODEOWNERS:

/docs/ @duggann4

### FEATURE OWNERSHIPS ###

/selfscape_insight/features/feelings.py @Peter-Hafner
/selfscape_insight/features/topics.py @jacobs81
/selfscape_insight/features/ip_loc.py @TREVORLE123

/selfscape_insight/readers/ @duggann4

pointless change
  selfscape_insight/features/topics.py
Owners: @jacobs81

Rebase
  selfscape_insight/features/ip_loc.py
Owners: @TREVORLE123

json_ingest 3.0.0rc1
  selfscape_insight/core/json_handling.py
  selfscape_insight/features/sample.py
  selfscape_insight/main_cli.py
  selfscape_insight/readers/old_json_ingest.py
Owners: @duggann4

Add logging to sample module
  selfscape_insight/features/sample.py
Owners: none

Refactor main_cli and connect main_wiz
  selfscape_insight/main_cli.py
  selfscape_insight/main_wiz.py
Owners: none
