Repository mindsresearch/between_bytes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @duggann4, @Peter-Hafner, @jacobs81, @TREVORLE123

Create documentation.yml
  .github/workflows/documentation.yml
Owners: none

Reorder run and fix fba paths
  selfscape_insight/features/facebook_act.py
  selfscape_insight/run.py
Owners: @Peter-Hafner

Delete sankey, prepare for PROD
  pyproject.toml
  selfscape_insight/core/filesize_sankey_core.py
  selfscape_insight/exec_cli.py
  selfscape_insight/exec_wiz.py
  selfscape_insight/features/facebook_act.py
  selfscape_insight/features/filesize_sankey.py
  selfscape_insight/features/filesize_sunburst.py
  selfscape_insight/features/ip_loc.py
  selfscape_insight/features/notifs.py
  selfscape_insight/features/off_fb_act.py
  selfscape_insight/features/sample.py
  selfscape_insight/features/topics.py
  selfscape_insight/run.py
Owners: @Peter-Hafner, @duggann4, @TREVORLE123, @jacobs81

Docstring hotfix
  selfscape_insight/features/filesize_sunburst.py
Owners: @duggann4

Fixed build stuff
  build.sh
  pyproject.toml
  requirements.txt
Owners: none

Various docs improvments
  docs/_static/material.css
  docs/about/about.rst
  docs/about/our_insights/devs/duggann4.rst
  docs/api/features.rst
  docs/docify.py
  docs/getting_started/getting_started.rst
  docs/getting_started/wizard.rst
Owners: @duggann4

DOCS: One step back, two steps forward
  docs/_static/logo-dark.svg
  docs/about/index.rst
  docs/api/api.rst
  docs/api/features.rst
  docs/api/index.rst
  docs/conf.py
  docs/devs/devs.rst
  docs/devs/index.rst
  docs/getting_started/data.rst
  docs/getting_started/download.rst
  docs/getting_started/index.rst
  docs/index.rst
Owners: none

Fixed to support new pathing
  selfscape_insight/features/facebook_act.py
Owners: @Peter-Hafner

Created base site.
  selfscape_insight/core/index.html
  selfscape_insight/core/styles.css
Owners: none

added logging and processing
  selfscape_insight/features/ip_loc.py
Owners: @TREVORLE123

made request into a function.
  selfscape_insight/features/topics.py
Owners: @jacobs81

multiprocessing attempt.
  selfscape_insight/features/topics.py
Owners: @jacobs81

multiprocessing pushed
  selfscape_insight/features/topics.py
Owners: @jacobs81

remove comment
  selfscape_insight/features/topics.py
Owners: @jacobs81

multiprocessing pushed
  selfscape_insight/features/topics.py
Owners: @jacobs81

made request into a function.
  selfscape_insight/features/topics.py
Owners: @jacobs81

remove comment
  selfscape_insight/features/topics.py
Owners: @jacobs81

DOC: Update HTML & GH docs
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  README.md
  docs/_static/351d96c7053b330365fe0b14b322c79c/interactive_occurance.html
  docs/conf.py
  docs/index.rst
  requirements.txt
Owners: none

DEV: Attempt to use PyCharm
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/selfscape-insight.iml
  .idea/vcs.xml
Owners: none

DOC: Update docstrings
  selfscape_insight/features/sample.py
Owners: @duggann4

FIX: Attempt to implement 3d plot as plotly
  selfscape_insight/features/facebook_act.py
Owners: @Peter-Hafner

DEV: Add version printing
  selfscape_insight/exec_cli.py
  selfscape_insight/exec_wiz.py
  selfscape_insight/run.py
Owners: none

FIX: un-modify fba
  selfscape_insight/features/facebook_act.py
Owners: @Peter-Hafner

FIX: Update logger usage
  selfscape_insight/features/topics.py
Owners: @jacobs81

ADD: Multiprocessing support to logger
  selfscape_insight/core/log_aud.py
Owners: @duggann4

ADD: Allow fsb mode to be modified from front-end
  selfscape_insight/exec_cli.py
  selfscape_insight/exec_wiz.py
  selfscape_insight/features/filesize_sunburst.py
  selfscape_insight/run.py
Owners: @duggann4

ADD: Pycharm stuff
  .idea/selfscape-insight.iml
Owners: none

DOC: Continue making docs pretty
  docs/_static/i-cards.css
  docs/_static/index_about.svg
  docs/_static/index_api.svg
  docs/_static/index_devs.svg
  docs/_static/index_get_started.svg
  docs/_static/start_cli.svg
  docs/_static/start_data.svg
  docs/_static/start_gui.svg
  docs/_static/start_prog.svg
  docs/about/about.rst
  docs/about/index.rst
  docs/api/index.rst
  docs/conf.py
  docs/devs/index.rst
  docs/getting_started/cli.rst
  docs/getting_started/data.rst
  docs/getting_started/download.rst
  docs/getting_started/index.rst
  docs/getting_started/wizard.rst
  docs/imgs/account_circle_2.svg
  docs/index.rst
Owners: none

Major work on refactoring code
  selfscape_insight/features/facebook_act.py
Owners: @Peter-Hafner

continued work on the website. Put all website stuff into its own folder. Added all my visualizations to the set up the example page.
  selfscape_insight/core/website_stuff/how_to.html
  selfscape_insight/core/website_stuff/index.html
  selfscape_insight/core/website_stuff/research_info.html
  selfscape_insight/core/website_stuff/styles.css
  selfscape_insight/core/website_stuff/team_files_website/ads_interests.jpg
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Daily_Post_Sentiment.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Facebook_Use_by_Year.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Hourly_Post_Count.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Message_Daily_Sentiment.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Message_Hourly_Count.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Message_Sentiment_Scatter.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Message_Yearly_Sentiment.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Posts_Hourly_Sentiment.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Posts_Sentiment_Scatter.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/Word_Cloud.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2016.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2017.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2018.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2019.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2020.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2021.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2022.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2023.png
  selfscape_insight/core/website_stuff/team_files_website/facebook_act/yearly_word_clouds/Word_Cloud_2024.png
  selfscape_insight/core/website_stuff/team_files_website/filesize_sunburst/legend.html
  selfscape_insight/core/website_stuff/team_files_website/filesize_sunburst/sunburst.html
  selfscape_insight/core/website_stuff/team_files_website/ip_loc/graph_over_all_time.html
  selfscape_insight/core/website_stuff/team_files_website/ip_loc/interactive_occurance.html
  selfscape_insight/core/website_stuff/team_files_website/notifications/2024_notifications.html
  selfscape_insight/core/website_stuff/team_files_website/off_fb_activity/top_cos.html
  selfscape_insight/core/website_stuff/your_data.html
Owners: none

Add starter template for report
  .idea/workspace.xml
  papers/.gitignore
  papers/report/fmt/IEEEtran.cls
  papers/report/fmt/ieee.bbx
  papers/report/fmt/ieee.cbx
  papers/report/img/3-1e47violin.png.png
  papers/report/img/3-1e49violin.png
  papers/report/report.bib
  papers/report/report.pdf
  papers/report/report.tex
Owners: none

Add initial intro, related works, and methods
  papers/report/report.bib
  papers/report/report.pdf
  papers/report/report.tex
Owners: none

Big Update
  papers/report/img/3-1e47violin.png.png
  papers/report/img/3-1e49violin.png
  papers/report/img/fsb.png
  papers/report/img/fuy.png
  papers/report/img/ipl.png
  papers/report/img/mss.png
  papers/report/img/ntf.png
  papers/report/img/ofa.png
  papers/report/img/tps.png
  papers/report/report.tex
Owners: none

Progress on cleaning, initial work on sentiment code
  selfscape_insight/features/facebook_act.py
Owners: @Peter-Hafner

Minor additions to .tex file, minor prose tweaks
  papers/report/report.tex
Owners: none

more website progress.
  selfscape_insight/core/website_stuff/index.html
Owners: none

Work on fixing WindowsPath issues
  selfscape_insight/features/facebook_act.py
Owners: @Peter-Hafner

Culled vestigial abstract section
  papers/report/report.tex
Owners: none

Rename project, update docs accordingly
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .idea/.name
  .idea/between_bytes.iml
  .idea/modules.xml
  .idea/workspace.xml
  README.md
  between_bytes/__init__.py
  between_bytes/core/__init__.py
  between_bytes/core/log_aud.py
  between_bytes/core/various_helpers.py
  between_bytes/exec_cli.py
  between_bytes/exec_wiz.py
  between_bytes/features/NotoSans_Local.ttf
  between_bytes/features/__init__.py
  between_bytes/features/facebook_act.py
  between_bytes/features/filesize_sunburst.py
  between_bytes/features/ip_loc.py
  between_bytes/features/notifs.py
  between_bytes/features/off_fb_act.py
  between_bytes/features/sample.py
  between_bytes/features/topics.py
  between_bytes/run.py
  docs/_static/btb_logo_light.svg
  docs/_static/logo-dark.svg
  docs/about/project.rst
  docs/api/features.rst
  docs/conf.py
  docs/devs/building.rst
  docs/devs/contrib.rst
  docs/devs/index.rst
  docs/getting_started/cli.rst
  docs/getting_started/download.rst
  docs/getting_started/index.rst
  docs/getting_started/wizard.rst
  docs/index.rst
  pyproject.toml
  readme_imgs/btb_logo_dark.svg
Owners: none

.github/CODEOWNERS:

### FEATURE OWNERSHIPS ###

/selfscape_insight/features/sample.py @duggann4
/selfscape_insight/features/facebook_act.py @Peter-Hafner
/selfscape_insight/features/topics.py @jacobs81
/selfscape_insight/features/NotoSans_Local.ttf @jacobs81
/selfscape_insight/features/ip_loc.py @TREVORLE123
/selfscape_insight/features/GeoLite2-City.mmdb @TREVORLE123
/selfscape_insight/features/filesize_sunburst.py @duggann4
/selfscape_insight/features/filesize_sankey.py @duggann4
/selfscape_insight/features/notifs.py @duggann4

### OTHER CODEBASE OWNERSHIPS ###
/selfscape_insight/core/log_aud.py @duggann4

### DOCS OWNERSHIPS ###
/docs/docify.py @duggann4
